<div class="muanza-menu" style="margin-top: 60px;">
    
    <div class="muanza-menu-title">
        Récents
    </div>
    <div class="muanza-menu-item-group">
        <div routerLink="dashboard" routerLinkActive="active" class="muanza-menu-item" style="">
            <small class="mif-calendar muanza-menu-icon">

            </small>
            <small>
                Dossiers récents
            </small>
        </div>
        <div class="muanza-menu-item" routerLink="affectation" routerLinkActive="active">
            <small class="mif-files-empty muanza-menu-icon">

            </small>
            <small>
                Recemment ouverts
            </small>
        </div>
    
    </div>
    <div id="dropdown_toggle_suivi" class="muanza-menu-title">
        Pour moi
    </div>
    <div class="muanza-menu-item-group">
        <div routerLink="vehicules" routerLinkActive="active" class="muanza-menu-item">
            <small class="mif-folder-shared muanza-menu-icon" style="">
            </small>
            <small>
                Ajoutés par moi
            </small>
        </div>
        <div routerLink="vehicules" routerLinkActive="active" class="muanza-menu-item">
            <small class="mif-folder muanza-menu-icon" style="">
            </small>
            <small>
                Partagés avec moi
            </small>
        </div>
        <div routerLink="vehicules" routerLinkActive="active" class="muanza-menu-item">
            <small class="mif-users muanza-menu-icon" style="">
            </small>
            <small>
                Groupes d'utilisateurs
            </small>
        </div>
        <div routerLink="vehicules" routerLinkActive="active" class="muanza-menu-item">
            <small class="mif-file-download muanza-menu-icon" style="">
            </small>
            <small>
                Fichiers téléchargés
            </small>
        </div>
    </div>
    <div id="dropdown_toggle_1" class="muanza-menu-title">
        Paramètres
    </div>

    <div class="muanza-menu-item-group">
        <div routerLink="/vehicule" routerLinkActive="active" class="muanza-menu-item">
            <small class="mif-user-check muanza-menu-icon">

            </small>
            <small>
                Comptes utilisateurs
            </small>
        </div>
        <div routerLink="/vehicule" routerLinkActive="active" class="muanza-menu-item">
            <small class="mif-server muanza-menu-icon">

            </small>
            <small>
                Serveur de fichier
            </small>
        </div>
        <div routerLink="/conducteur" routerLinkActive="active" class="muanza-menu-item">
            <small class="mif-database muanza-menu-icon">

            </small>
            <small>
                Base de données
            </small>
        </div>
    </div>
</div>