<div class="page" *ngIf="info">
    <div class="entete">
        <div class="row">
            <div class="cell-lg-8">


                <div class="titre">
                    {{info.titre ? info.titre: 'Nouvelle information'}}
                </div>
                <ul style="margin-top: -5px; margin-left: -14px;" class="breadcrumbs size-small">
                    <li class="page-item">
                        <a routerLink="/info" class="page-link">
                            Informations
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link">
                            {{info.titre ? info.titre: 'Nouvelle information'}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="contenu">

        <div class="row">
            <div class="cell-lg-8">


            </div>
        </div>
        <div class="row">
            <div class="cell-lg-8">
                <div class="text-leader shadow-1" style="width: 75%; border: 1px solid #eee; padding: 20px;">
                    <div class="text-leader2">
                        <b>
                            {{info.createur ? info.createur.noms: ''}}
                            {{info.createur ? info.createur.prenoms: ''}},
                            {{info.date | date: 'yyyy-MM-dd HH:mm'}}
                        </b>
                    </div>
                    <div style="margin-top: 10px; margin-bottom: 10px;">
                        {{info ? info.description: ''}}
                    </div>
                    <div *ngIf="utilisateur" style="margin-bottom: 10px;">
                        <button class="button" *ngIf="utilisateur.role === '1'" (click)="modifier(info)">
                            Modifier
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
</div>