<header *ngIf="utilisateur" class="app-bar bg-white fg-dark" data-role="appbar" data-expand-point="md">
  <a href="" class="d-block brand fg-dark no-hover" style="width: 50vw; white-space: nowrap;">
    <img src="../assets/logoEDF.png" style="height: 50px; margin-top: -10px;">
    <b style="font-weight: bolder; margin-left: 0px; color: orangered; font-size: 1.2em;">
      EDF - AMOA
    </b>
  </a>
  <input style="width: 99%;" data-role="input" placeholder="Rechercher">
  <ul class="app-bar-menu ml-auto">
    <li  style="margin-left: 10px;"><a routerLink="accueil" routerLinkActive="active">Accueil</a></li>
    <li>
      <a href="#" class="dropdown-toggle">Nouveau</a>
      <ul class="d-menu" data-role="dropdown">
        <li><a href="">Fichier</a></li>
        <li><a href="">Dossier</a></li>
      </ul>
    </li>
    <li>
      <a routerLink="notifications" routerLinkActive="active">
        <span class="mif-bell mif-2x d-none d-block-md"></span>
        <span class="d-block d-none-md">Notifications</span>
      </a>
    </li>

    <li>
      <a routerLink="compte" routerLinkActive="active" class="dropdown-toggle" href="https://github.com/morrisjdev/ng-metro4" target="_blank">
        <span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 150px; display: block; height: 50px;">
          {{utilisateur.noms}}
          {{utilisateur.prenoms}}
        </span>
      </a>
      <ul class="d-menu" data-role="dropdown">
        <li><a routerLink="/compte/view">Mes infos</a></li>
        <li><a (click)="deconnexion()">Déconnexion</a></li>
      </ul>
    </li>
    
    <li>
      <a style="margin-right: 20px;" >
        <img class="muanza-image-pp" [src]="utilisateur.photoURL ? utilisateur.photoURL : '../assets/logoEDF.png'">
      </a>
    </li>

  </ul>
</header>
<div class="row" style="height: 100vh; overflow: hidden;">
  <div class="cell-lg-2 for-menu-gauche" style="margin:0; padding: 0;">
    <div *ngIf="utilisateur" class="menu-gauche">
      <app-menu-gauche></app-menu-gauche>
    </div>
  </div>
  <div class="cell-lg-10">
  <div class="contenu">
    <router-outlet></router-outlet>
  </div>
  </div>
</div>


<m4-dialog #dialogConnexion width="50%" class="shadow-1" [overlay]="true" overlay-color="#fff" [overlay-alpha]="0.95">
  <div dialog-title>
    <b style="color: rgb(1, 50, 126); float: right;">
      EDF - AMOA
    </b>
      Identifier vous !
  </div>
  <div dialog-content>
    <app-connexion>

    </app-connexion>
  </div>
  <div dialog-actions>
      <div>
          <button style="margin-right: 20px;" class="button muanza">
              Changer de compte
          </button>
      </div>
  </div>
</m4-dialog>