$bleu: rgb(1, 50, 126);
.app-bar {
    ul {
        li {
            a {
                &.active {
                    background-color: $bleu;
                    color: #fff;
                }
            }
        }
    }

}
.menu-gauche {
    margin-top: -10px;
}

.for-menu-gauche {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
}

.contenu {
    padding-top: 55px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 100px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}