.menu-gauche {
    
}

.for-menu-gauche {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.contenu {
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
}