<div>
    <div>

        <img src="../../../assets/logoEDF.png" style="height: 60px; margin-top: 0px; margin-bottom: 10px;">
    </div>

    <div class="contenu">
        
        <div class="message" style="opacity: 0.8;">
            <small>
                Si vous ne disposez pas de paramètres d'authentification, veuillez contacter l'administrateur
            </small>
        </div>
        <form [formGroup]="connexionForm" (ngSubmit)="onConnexionFormSubmit()">
            <div class="row">
                <div class="cell-lg-12">
                    <input formControlName="login" data-role="input" data-prepend="Login">
                </div>
                <div class="cell-lg-12">
                    <input formControlName="passe" data-role="input" type="password" data-prepend="Mot de passe">
                </div>
                <div class="cell-lg-2">
                    <button class="button" [disabled]="connexionForm.invalid">
                        Connexion
                    </button>
                </div>
            </div>
        </form>

        <div style="margin-top: 20px;" class="fg-red">
            {{messageErreur}}
        </div>

        <div style="display: none">
            utilisateur : {{utilisateur ? utilisateur.id: 'Aucun ID'}}
        </div>
    </div>

</div>