
@keyframes muanza {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

$hauteur: 35vh;

.infos {
    padding-top: 1vh;

    .chapitre {
        margin-bottom: 5px;
        font-size: 1.5em;
    }

    .info {
        height: $hauteur;
        animation-name: muanza;
        animation-duration: 400ms;
        cursor: pointer;

        .image-arriere {
            background-attachment: fixed;
            background-image: url('../../../../assets/barrage.jpg');
            height: $hauteur;
        }

        .description {
            height: $hauteur;
            margin-top: -35vh;
            cursor: pointer;

            &.white {
                background-color: rgba(230, 230, 230, 0.95);

                .info--contenu {
                    .contenu--titre {
                        color: #000;
                    }

                    .contenu--sous-titre {
                        color: #111;
                    }

                    .createur {
                        color: #222;
                    }
                }
            }

            &.black {
                background-color: rgba(0, 0, 5, 0.85);
                ;

                .info--contenu {
                    .contenu--titre {
                        color: #fff;
                    }

                    .contenu--sous-titre {
                        color: #fafafa;
                    }

                    .createur {
                        color: #fff;
                    }
                }
                &:hover {
                    background-color: rgba(orangered, 0.75);
                    
                    // background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
                }
            }

            .info--contenu {
                margin-top: 30vh;
                padding: 10px;
                padding-bottom: 15px;
                transform: translateY(-100%);

                .contenu--titre {
                    font-weight: bold;
                    font-size: 1.1em;
                    line-height: 1.15;
                    width: 80%;
                }

                .contenu--sous-titre {
                    font-size: 0.9em;
                    margin-top: 5px;
                    line-height: 1.15;
                    width: 95%;
                }

                .createur {
                    .cell-lg-2 {
                        text-align: right;
                    }

                    img {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        border: 2px solid orangered;
                        margin-right: 10px;
                        margin-bottom: 10px;
                    }
                }
            }

            .commentaires {
                &.white {
                    color: #111;
                }

                &.black {
                    color: #fafafa;
                }

                text-align: right;
                padding-top: 5px;
                padding-right: 15px;
                height: 5vh;
            }
        }
    }
}